USE [master]
GO
/****** Object:  Database [BeYourMarket]    Script Date: 11/12/2016 5:48:34 PM ******/
CREATE DATABASE [BeYourMarket]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BeYourMarket', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BeYourMarket.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BeYourMarket_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BeYourMarket_log.ldf' , SIZE = 1344KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BeYourMarket].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BeYourMarket]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 11/12/2016 5:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 11/12/2016 5:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 11/12/2016 5:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 11/12/2016 5:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 11/12/2016 5:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[RoleId] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 11/12/2016 5:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[RegisterDate] [datetime] NOT NULL,
	[RegisterIP] [nvarchar](max) NULL,
	[LastAccessDate] [datetime] NOT NULL,
	[LastAccessIP] [nvarchar](max) NULL,
	[DateOfBirth] [datetime] NULL,
	[AcceptEmail] [bit] NOT NULL,
	[Gender] [nvarchar](max) NULL,
	[LeadSourceID] [int] NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[Disabled] [bit] NOT NULL,
	[Rating] [float] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Categories]    Script Date: 11/12/2016 5:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Parent] [int] NOT NULL,
	[Enabled] [bit] NOT NULL,
	[Ordering] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CategoryListingTypes]    Script Date: 11/12/2016 5:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryListingTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[ListingTypeID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.CategoryListingTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CategoryStats]    Script Date: 11/12/2016 5:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryStats](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Count] [int] NOT NULL,
 CONSTRAINT [PK_dbo.CategoryStats] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ContentPages]    Script Date: 11/12/2016 5:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContentPages](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Slug] [nvarchar](100) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[Html] [nvarchar](max) NULL,
	[Template] [nvarchar](200) NULL,
	[Ordering] [int] NOT NULL,
	[Keywords] [nvarchar](200) NULL,
	[UserID] [nvarchar](128) NULL,
	[Published] [bit] NOT NULL,
	[Created] [datetime] NOT NULL,
	[LastUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.ContentPages] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmailTemplates]    Script Date: 11/12/2016 5:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailTemplates](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Slug] [nvarchar](100) NOT NULL,
	[Subject] [nvarchar](100) NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[SendCopy] [bit] NOT NULL,
	[Created] [datetime] NOT NULL,
	[LastUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.EmailTemplates] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ListingMeta]    Script Date: 11/12/2016 5:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListingMeta](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ListingID] [int] NOT NULL,
	[FieldID] [int] NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.ListingMeta] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ListingPictures]    Script Date: 11/12/2016 5:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListingPictures](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ListingID] [int] NOT NULL,
	[PictureID] [int] NOT NULL,
	[Ordering] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ListingPictures] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ListingReviews]    Script Date: 11/12/2016 5:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListingReviews](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Rating] [float] NOT NULL,
	[ListingID] [int] NULL,
	[OrderID] [int] NULL,
	[UserFrom] [nvarchar](128) NOT NULL,
	[UserTo] [nvarchar](128) NOT NULL,
	[Active] [bit] NOT NULL,
	[Enabled] [bit] NOT NULL,
	[Spam] [bit] NOT NULL,
	[Created] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.ListingReviews] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Listings]    Script Date: 11/12/2016 5:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Listings](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](500) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CategoryID] [int] NOT NULL,
	[ListingTypeID] [int] NOT NULL,
	[UserID] [nvarchar](128) NOT NULL,
	[Price] [float] NULL,
	[Currency] [nchar](3) NULL,
	[ContactName] [nvarchar](200) NOT NULL,
	[ContactEmail] [nvarchar](200) NOT NULL,
	[ContactPhone] [nvarchar](50) NULL,
	[ShowPhone] [bit] NOT NULL,
	[Active] [bit] NOT NULL,
	[Enabled] [bit] NOT NULL,
	[ShowEmail] [bit] NOT NULL,
	[Premium] [bit] NOT NULL,
	[Expiration] [datetime] NOT NULL,
	[IP] [nvarchar](50) NOT NULL,
	[Location] [nvarchar](250) NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
	[Created] [datetime] NOT NULL,
	[LastUpdated] [datetime] NOT NULL,
	[Number] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Listings] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ListingStats]    Script Date: 11/12/2016 5:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListingStats](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CountView] [int] NOT NULL,
	[CountSpam] [int] NOT NULL,
	[CountRepeated] [int] NOT NULL,
	[ListingID] [int] NOT NULL,
	[Created] [datetime] NOT NULL,
	[LastUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.ListingStats] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ListingTypes]    Script Date: 11/12/2016 5:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListingTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ButtonLabel] [nvarchar](20) NOT NULL,
	[PriceEnabled] [bit] NOT NULL,
	[PriceUnitLabel] [nvarchar](20) NULL,
	[OrderTypeID] [int] NOT NULL,
	[OrderTypeLabel] [nvarchar](20) NULL,
	[PaymentEnabled] [bit] NOT NULL,
	[ShippingEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ListingTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Message]    Script Date: 11/12/2016 5:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MessageThreadID] [int] NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[UserFrom] [nvarchar](128) NOT NULL,
	[Created] [datetime] NOT NULL,
	[LastUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Message] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MessageParticipant]    Script Date: 11/12/2016 5:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MessageParticipant](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MessageThreadID] [int] NOT NULL,
	[UserID] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.MessageParticipant] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MessageReadState]    Script Date: 11/12/2016 5:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MessageReadState](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MessageID] [int] NOT NULL,
	[UserID] [nvarchar](128) NOT NULL,
	[ReadDate] [datetime] NULL,
	[Created] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.MessageReadState] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MessageThread]    Script Date: 11/12/2016 5:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MessageThread](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Subject] [nvarchar](200) NULL,
	[ListingID] [int] NULL,
	[Created] [datetime] NOT NULL,
	[LastUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.MessageThread] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MetaCategories]    Script Date: 11/12/2016 5:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetaCategories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[FieldID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.MetaCategories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MetaFields]    Script Date: 11/12/2016 5:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetaFields](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Placeholder] [nvarchar](255) NULL,
	[ControlTypeID] [int] NOT NULL,
	[Options] [nvarchar](max) NULL,
	[Required] [bit] NOT NULL,
	[Searchable] [bit] NOT NULL,
	[Ordering] [int] NULL,
 CONSTRAINT [PK_dbo.MetaFields] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderBuyCoins]    Script Date: 11/12/2016 5:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderBuyCoins](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Price] [float] NOT NULL,
	[Coins] [int] NOT NULL,
	[UserBuyCoin] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.OrderBuyCoins] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 11/12/2016 5:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FromDate] [datetime] NULL,
	[ToDate] [datetime] NULL,
	[ListingID] [int] NOT NULL,
	[ListingTypeID] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Quantity] [float] NULL,
	[Price] [float] NULL,
	[Currency] [nchar](3) NULL,
	[ApplicationFee] [float] NULL,
	[Description] [nvarchar](max) NULL,
	[Message] [nvarchar](max) NULL,
	[UserProvider] [nvarchar](128) NOT NULL,
	[UserReceiver] [nvarchar](128) NOT NULL,
	[PaymentPlugin] [nvarchar](250) NULL,
	[Created] [datetime] NOT NULL,
	[Modified] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pictures]    Script Date: 11/12/2016 5:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pictures](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MimeType] [nvarchar](40) NOT NULL,
	[SeoFilename] [nvarchar](200) NULL,
 CONSTRAINT [PK_dbo.Pictures] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SettingDictionary]    Script Date: 11/12/2016 5:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SettingDictionary](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Value] [nvarchar](200) NULL,
	[SettingID] [int] NOT NULL,
	[Created] [datetime] NOT NULL,
	[LastUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.SettingDictionary] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Settings]    Script Date: 11/12/2016 5:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Slogan] [nvarchar](255) NOT NULL,
	[SearchPlaceHolder] [nvarchar](255) NOT NULL,
	[EmailContact] [nvarchar](255) NOT NULL,
	[Version] [nvarchar](10) NOT NULL,
	[Currency] [nchar](3) NOT NULL,
	[TransactionFeePercent] [float] NOT NULL,
	[TransactionMinimumSize] [float] NOT NULL,
	[TransactionMinimumFee] [float] NOT NULL,
	[SmtpHost] [nvarchar](100) NULL,
	[SmtpPort] [int] NULL,
	[SmtpUserName] [nvarchar](100) NULL,
	[SmtpPassword] [nvarchar](100) NULL,
	[SmtpSSL] [bit] NOT NULL,
	[EmailAddress] [nvarchar](100) NULL,
	[EmailDisplayName] [nvarchar](100) NULL,
	[AgreementRequired] [bit] NOT NULL,
	[AgreementLabel] [nvarchar](100) NULL,
	[AgreementText] [nvarchar](max) NULL,
	[SignupText] [nvarchar](max) NULL,
	[EmailConfirmedRequired] [bit] NOT NULL,
	[Theme] [nvarchar](250) NOT NULL,
	[DateFormat] [nvarchar](10) NOT NULL,
	[TimeFormat] [nvarchar](10) NOT NULL,
	[ListingReviewEnabled] [bit] NOT NULL,
	[ListingReviewMaxPerDay] [int] NOT NULL,
	[Created] [datetime] NOT NULL,
	[LastUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Settings] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StripeConnect]    Script Date: 11/12/2016 5:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StripeConnect](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](128) NOT NULL,
	[Created] [datetime] NOT NULL,
	[LastUpdated] [datetime] NOT NULL,
	[token_type] [nvarchar](100) NOT NULL,
	[stripe_publishable_key] [nvarchar](100) NOT NULL,
	[scope] [nvarchar](100) NOT NULL,
	[livemode] [nvarchar](100) NOT NULL,
	[stripe_user_id] [nvarchar](100) NOT NULL,
	[refresh_token] [nvarchar](100) NOT NULL,
	[access_token] [nvarchar](100) NOT NULL,
	[error] [nvarchar](100) NULL,
	[error_description] [nvarchar](200) NULL,
 CONSTRAINT [PK_dbo.StripeConnect] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StripeTransaction]    Script Date: 11/12/2016 5:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StripeTransaction](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ChargeID] [nvarchar](100) NOT NULL,
	[StripeToken] [nvarchar](100) NOT NULL,
	[StripeEmail] [nvarchar](100) NOT NULL,
	[IsCaptured] [bit] NOT NULL,
	[FailureCode] [nvarchar](100) NULL,
	[FailureMessage] [nvarchar](200) NULL,
	[Created] [datetime] NOT NULL,
	[LastUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.StripeTransaction] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'6e253117-41ed-4c30-b88f-14d7dc2b66a5', N'Administrator')
INSERT [dbo].[AspNetUserRoles] ([RoleId], [UserId]) VALUES (N'6e253117-41ed-4c30-b88f-14d7dc2b66a5', N'96661dd9-9c89-4569-90af-c39649212c61')
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([ID], [Name], [Description], [Parent], [Enabled], [Ordering]) VALUES (4, N'I Phone', N'Second hand', 0, 1, 0)
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[CategoryListingTypes] ON 

INSERT [dbo].[CategoryListingTypes] ([ID], [CategoryID], [ListingTypeID]) VALUES (4, 4, 2)
SET IDENTITY_INSERT [dbo].[CategoryListingTypes] OFF
SET IDENTITY_INSERT [dbo].[CategoryStats] ON 

INSERT [dbo].[CategoryStats] ([ID], [CategoryID], [Count]) VALUES (4, 4, 1)
SET IDENTITY_INSERT [dbo].[CategoryStats] OFF
SET IDENTITY_INSERT [dbo].[EmailTemplates] ON 

INSERT [dbo].[EmailTemplates] ([ID], [Slug], [Subject], [Body], [SendCopy], [Created], [LastUpdated]) VALUES (3, N'privatemessage', N'Private Message', N'<p>Hi there,</p>
			            <p>You got a new message as below.</p>
			            <table>
				            <tbody>
					            <tr>
						            <td class="padding">
						            <h4>{Message}</h4>
						            </td>
					            </tr>
				            </tbody>
			            </table>', 1, CAST(0x0000A6BA012594BA AS DateTime), CAST(0x0000A6BA012594BA AS DateTime))
SET IDENTITY_INSERT [dbo].[EmailTemplates] OFF
SET IDENTITY_INSERT [dbo].[ListingPictures] ON 

INSERT [dbo].[ListingPictures] ([ID], [ListingID], [PictureID], [Ordering]) VALUES (10, 1, 10, 0)
SET IDENTITY_INSERT [dbo].[ListingPictures] OFF
SET IDENTITY_INSERT [dbo].[Listings] ON 

SET IDENTITY_INSERT [dbo].[Listings] OFF
SET IDENTITY_INSERT [dbo].[ListingStats] ON 

INSERT [dbo].[ListingStats] ([ID], [CountView], [CountSpam], [CountRepeated], [ListingID], [Created], [LastUpdated]) VALUES (1, 6, 0, 0, 1, CAST(0x0000A6BA01357F42 AS DateTime), CAST(0x0000A6BA01357F44 AS DateTime))
SET IDENTITY_INSERT [dbo].[ListingStats] OFF
SET IDENTITY_INSERT [dbo].[ListingTypes] ON 

INSERT [dbo].[ListingTypes] ([ID], [Name], [ButtonLabel], [PriceEnabled], [PriceUnitLabel], [OrderTypeID], [OrderTypeLabel], [PaymentEnabled], [ShippingEnabled]) VALUES (2, N'Sell Product', N'Buy', 0, N'Per product', 2, NULL, 1, 0)
SET IDENTITY_INSERT [dbo].[ListingTypes] OFF
SET IDENTITY_INSERT [dbo].[Pictures] ON 

INSERT [dbo].[Pictures] ([ID], [MimeType], [SeoFilename]) VALUES (10, N'image/jpeg', NULL)
SET IDENTITY_INSERT [dbo].[Pictures] OFF
SET IDENTITY_INSERT [dbo].[SettingDictionary] ON 

INSERT [dbo].[SettingDictionary] ([ID], [Name], [Value], [SettingID], [Created], [LastUpdated]) VALUES (1, N'StripeApiKey', N'sk_test_kUNQFEh3YLbEFEa38tbeMJLV', 1, CAST(0x0000A6BA0125989F AS DateTime), CAST(0x0000A6BA0125989F AS DateTime))
INSERT [dbo].[SettingDictionary] ([ID], [Name], [Value], [SettingID], [Created], [LastUpdated]) VALUES (2, N'StripePublishableKey', N'pk_test_EfbP8SfcALEJ8Jk2JxtSxmqe', 1, CAST(0x0000A6BA0125989F AS DateTime), CAST(0x0000A6BA0125989F AS DateTime))
INSERT [dbo].[SettingDictionary] ([ID], [Name], [Value], [SettingID], [Created], [LastUpdated]) VALUES (3, N'StripeClientID', N'ca_6Rh18px61rjCEZIav5ItunZ1mKD8YjvU', 1, CAST(0x0000A6BA012598A0 AS DateTime), CAST(0x0000A6BA012598A0 AS DateTime))
SET IDENTITY_INSERT [dbo].[SettingDictionary] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 11/12/2016 5:48:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 11/12/2016 5:48:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 11/12/2016 5:48:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 11/12/2016 5:48:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryID]    Script Date: 11/12/2016 5:48:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_CategoryID] ON [dbo].[CategoryListingTypes]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ListingTypeID]    Script Date: 11/12/2016 5:48:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_ListingTypeID] ON [dbo].[CategoryListingTypes]
(
	[ListingTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryID]    Script Date: 11/12/2016 5:48:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_CategoryID] ON [dbo].[CategoryStats]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FieldID]    Script Date: 11/12/2016 5:48:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_FieldID] ON [dbo].[ListingMeta]
(
	[FieldID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ListingID]    Script Date: 11/12/2016 5:48:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_ListingID] ON [dbo].[ListingMeta]
(
	[ListingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ListingID]    Script Date: 11/12/2016 5:48:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_ListingID] ON [dbo].[ListingPictures]
(
	[ListingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PictureID]    Script Date: 11/12/2016 5:48:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_PictureID] ON [dbo].[ListingPictures]
(
	[PictureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ListingID]    Script Date: 11/12/2016 5:48:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_ListingID] ON [dbo].[ListingReviews]
(
	[ListingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderID]    Script Date: 11/12/2016 5:48:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderID] ON [dbo].[ListingReviews]
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserFrom]    Script Date: 11/12/2016 5:48:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserFrom] ON [dbo].[ListingReviews]
(
	[UserFrom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserTo]    Script Date: 11/12/2016 5:48:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserTo] ON [dbo].[ListingReviews]
(
	[UserTo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryID]    Script Date: 11/12/2016 5:48:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_CategoryID] ON [dbo].[Listings]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ListingTypeID]    Script Date: 11/12/2016 5:48:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_ListingTypeID] ON [dbo].[Listings]
(
	[ListingTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserID]    Script Date: 11/12/2016 5:48:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserID] ON [dbo].[Listings]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ListingID]    Script Date: 11/12/2016 5:48:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_ListingID] ON [dbo].[ListingStats]
(
	[ListingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MessageThreadID]    Script Date: 11/12/2016 5:48:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_MessageThreadID] ON [dbo].[Message]
(
	[MessageThreadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserFrom]    Script Date: 11/12/2016 5:48:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserFrom] ON [dbo].[Message]
(
	[UserFrom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MessageThreadID]    Script Date: 11/12/2016 5:48:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_MessageThreadID] ON [dbo].[MessageParticipant]
(
	[MessageThreadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserID]    Script Date: 11/12/2016 5:48:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserID] ON [dbo].[MessageParticipant]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MessageID]    Script Date: 11/12/2016 5:48:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_MessageID] ON [dbo].[MessageReadState]
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserID]    Script Date: 11/12/2016 5:48:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserID] ON [dbo].[MessageReadState]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ListingID]    Script Date: 11/12/2016 5:48:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_ListingID] ON [dbo].[MessageThread]
(
	[ListingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryID]    Script Date: 11/12/2016 5:48:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_CategoryID] ON [dbo].[MetaCategories]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FieldID]    Script Date: 11/12/2016 5:48:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_FieldID] ON [dbo].[MetaCategories]
(
	[FieldID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ListingID]    Script Date: 11/12/2016 5:48:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_ListingID] ON [dbo].[Orders]
(
	[ListingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserProvider]    Script Date: 11/12/2016 5:48:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserProvider] ON [dbo].[Orders]
(
	[UserProvider] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserReceiver]    Script Date: 11/12/2016 5:48:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserReceiver] ON [dbo].[Orders]
(
	[UserReceiver] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SettingID]    Script Date: 11/12/2016 5:48:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_SettingID] ON [dbo].[SettingDictionary]
(
	[SettingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CategoryListingTypes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CategoryListingTypes_dbo.Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategoryListingTypes] CHECK CONSTRAINT [FK_dbo.CategoryListingTypes_dbo.Categories_CategoryID]
GO
ALTER TABLE [dbo].[CategoryListingTypes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CategoryListingTypes_dbo.ListingTypes_ListingTypeID] FOREIGN KEY([ListingTypeID])
REFERENCES [dbo].[ListingTypes] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategoryListingTypes] CHECK CONSTRAINT [FK_dbo.CategoryListingTypes_dbo.ListingTypes_ListingTypeID]
GO
ALTER TABLE [dbo].[CategoryStats]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CategoryStats_dbo.Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategoryStats] CHECK CONSTRAINT [FK_dbo.CategoryStats_dbo.Categories_CategoryID]
GO
ALTER TABLE [dbo].[ListingMeta]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ListingMeta_dbo.Listings_ListingID] FOREIGN KEY([ListingID])
REFERENCES [dbo].[Listings] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ListingMeta] CHECK CONSTRAINT [FK_dbo.ListingMeta_dbo.Listings_ListingID]
GO
ALTER TABLE [dbo].[ListingMeta]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ListingMeta_dbo.MetaFields_FieldID] FOREIGN KEY([FieldID])
REFERENCES [dbo].[MetaFields] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ListingMeta] CHECK CONSTRAINT [FK_dbo.ListingMeta_dbo.MetaFields_FieldID]
GO
ALTER TABLE [dbo].[ListingPictures]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ListingPictures_dbo.Listings_ListingID] FOREIGN KEY([ListingID])
REFERENCES [dbo].[Listings] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ListingPictures] CHECK CONSTRAINT [FK_dbo.ListingPictures_dbo.Listings_ListingID]
GO
ALTER TABLE [dbo].[ListingPictures]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ListingPictures_dbo.Pictures_PictureID] FOREIGN KEY([PictureID])
REFERENCES [dbo].[Pictures] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ListingPictures] CHECK CONSTRAINT [FK_dbo.ListingPictures_dbo.Pictures_PictureID]
GO
ALTER TABLE [dbo].[ListingReviews]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ListingReviews_dbo.AspNetUsers_UserFrom] FOREIGN KEY([UserFrom])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ListingReviews] CHECK CONSTRAINT [FK_dbo.ListingReviews_dbo.AspNetUsers_UserFrom]
GO
ALTER TABLE [dbo].[ListingReviews]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ListingReviews_dbo.AspNetUsers_UserTo] FOREIGN KEY([UserTo])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ListingReviews] CHECK CONSTRAINT [FK_dbo.ListingReviews_dbo.AspNetUsers_UserTo]
GO
ALTER TABLE [dbo].[ListingReviews]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ListingReviews_dbo.Listings_ListingID] FOREIGN KEY([ListingID])
REFERENCES [dbo].[Listings] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ListingReviews] CHECK CONSTRAINT [FK_dbo.ListingReviews_dbo.Listings_ListingID]
GO
ALTER TABLE [dbo].[ListingReviews]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ListingReviews_dbo.Orders_OrderID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ListingReviews] CHECK CONSTRAINT [FK_dbo.ListingReviews_dbo.Orders_OrderID]
GO
ALTER TABLE [dbo].[Listings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Listings_dbo.AspNetUsers_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Listings] CHECK CONSTRAINT [FK_dbo.Listings_dbo.AspNetUsers_UserID]
GO
ALTER TABLE [dbo].[Listings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Listings_dbo.Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Listings] CHECK CONSTRAINT [FK_dbo.Listings_dbo.Categories_CategoryID]
GO
ALTER TABLE [dbo].[Listings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Listings_dbo.ListingTypes_ListingTypeID] FOREIGN KEY([ListingTypeID])
REFERENCES [dbo].[ListingTypes] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Listings] CHECK CONSTRAINT [FK_dbo.Listings_dbo.ListingTypes_ListingTypeID]
GO
ALTER TABLE [dbo].[ListingStats]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ListingStats_dbo.Listings_ListingID] FOREIGN KEY([ListingID])
REFERENCES [dbo].[Listings] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ListingStats] CHECK CONSTRAINT [FK_dbo.ListingStats_dbo.Listings_ListingID]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Message_dbo.AspNetUsers_UserFrom] FOREIGN KEY([UserFrom])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK_dbo.Message_dbo.AspNetUsers_UserFrom]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Message_dbo.MessageThread_MessageThreadID] FOREIGN KEY([MessageThreadID])
REFERENCES [dbo].[MessageThread] ([ID])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK_dbo.Message_dbo.MessageThread_MessageThreadID]
GO
ALTER TABLE [dbo].[MessageParticipant]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MessageParticipant_dbo.AspNetUsers_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MessageParticipant] CHECK CONSTRAINT [FK_dbo.MessageParticipant_dbo.AspNetUsers_UserID]
GO
ALTER TABLE [dbo].[MessageParticipant]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MessageParticipant_dbo.MessageThread_MessageThreadID] FOREIGN KEY([MessageThreadID])
REFERENCES [dbo].[MessageThread] ([ID])
GO
ALTER TABLE [dbo].[MessageParticipant] CHECK CONSTRAINT [FK_dbo.MessageParticipant_dbo.MessageThread_MessageThreadID]
GO
ALTER TABLE [dbo].[MessageReadState]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MessageReadState_dbo.AspNetUsers_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MessageReadState] CHECK CONSTRAINT [FK_dbo.MessageReadState_dbo.AspNetUsers_UserID]
GO
ALTER TABLE [dbo].[MessageReadState]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MessageReadState_dbo.Message_MessageID] FOREIGN KEY([MessageID])
REFERENCES [dbo].[Message] ([ID])
GO
ALTER TABLE [dbo].[MessageReadState] CHECK CONSTRAINT [FK_dbo.MessageReadState_dbo.Message_MessageID]
GO
ALTER TABLE [dbo].[MessageThread]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MessageThread_dbo.Listings_ListingID] FOREIGN KEY([ListingID])
REFERENCES [dbo].[Listings] ([ID])
GO
ALTER TABLE [dbo].[MessageThread] CHECK CONSTRAINT [FK_dbo.MessageThread_dbo.Listings_ListingID]
GO
ALTER TABLE [dbo].[MetaCategories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MetaCategories_dbo.Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MetaCategories] CHECK CONSTRAINT [FK_dbo.MetaCategories_dbo.Categories_CategoryID]
GO
ALTER TABLE [dbo].[MetaCategories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MetaCategories_dbo.MetaFields_FieldID] FOREIGN KEY([FieldID])
REFERENCES [dbo].[MetaFields] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MetaCategories] CHECK CONSTRAINT [FK_dbo.MetaCategories_dbo.MetaFields_FieldID]
GO
ALTER TABLE [dbo].[OrderBuyCoins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderBuyCoins_dbo.AspNetUsers_UserBuyCoin] FOREIGN KEY([UserBuyCoin])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[OrderBuyCoins] CHECK CONSTRAINT [FK_dbo.OrderBuyCoins_dbo.AspNetUsers_UserBuyCoin]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.AspNetUsers_UserProvider] FOREIGN KEY([UserProvider])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.AspNetUsers_UserProvider]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.AspNetUsers_UserReceiver] FOREIGN KEY([UserReceiver])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.AspNetUsers_UserReceiver]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Listings_ListingID] FOREIGN KEY([ListingID])
REFERENCES [dbo].[Listings] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Listings_ListingID]
GO
ALTER TABLE [dbo].[SettingDictionary]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SettingDictionary_dbo.Settings_SettingID] FOREIGN KEY([SettingID])
REFERENCES [dbo].[Settings] ([ID])
GO
ALTER TABLE [dbo].[SettingDictionary] CHECK CONSTRAINT [FK_dbo.SettingDictionary_dbo.Settings_SettingID]
GO
USE [master]
GO
